@using Diplomski.Areas.ModulReferent.Models.Student
@model Diplomski.Areas.ModulReferent.Models.Student.StudentPrikaziVM

<h2>Lista studenata na Fakultetu informacijkih tehnologija</h2>
<hr>
<div>
    <form>
        <div class="form-inline" style="margin-bottom:20px;">
            <label style="font-size:21px; font-weight:bold;margin-right:10px;">Semestri:</label>
            @Html.DropDownListFor(model => model.SemestarId, Model.semestriStavke, 
           new { @class = "form-control",@onchange="this.form.submit()"})

        </div>
    </form>
    <div class="table-responsive">
        <table class="table  table-hover" style="text-align:center;color:black">
            <thead>
                <tr>
                    <th>Ime prezime</th>
                    <th>Broj indeksa</th>
                    <th>Semestar</th>
                    <th>Slika</th>
                    <th>Ackije</th>
                </tr>
            </thead>
            <tbody>

                @foreach (StudentPrikaziVM.StudentInfo S in Model.studenti)
                {
                    <tr>

                        <td>@S.Ime @S.Prezime</td>                        
                        <td>@S.BrojDosijea</td>
                         <td>@S.Semestar</td>
                        <td><img src="@(Url.Content(S.SlikaPath))" width="100" height="100" class="rounded mx-auto d-block" /></td>
                        <td>
                            <a href="/ModulReferent/student/Uredi/?id=@S.Id" class="btn btn-primary">Uredi</a>                      
                            <a href="/ModulStudent/Predmet/?studentID=@S.Id" class="btn btn-info">Predmeti</a>
                        </td>
                      
                    </tr>
                }

            </tbody>
        </table>
        <a href="/ModulReferent/Student/Dodaj" class="btn btn-primary btn-lg" style="float:right">Dodaj studenta</a>
    </div>
</div>