@using Diplomski.Areas.ModulReferent.Models.Predmet

@model Diplomski.Areas.ModulReferent.Models.Predmet.PredmetPrikaziVM

<h2>Predmeti na fakultetu informacijskih tehnologija</h2>

<form>

    <div class="form-inline">
        @Html.DropDownListFor(model => model.SemestarId, Model.semestriStavke, new { @class = "form-control" })
        <input type="submit" value="Prikaži" class="btn btn-info" />
    </div>

</form>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Oznaka</th>
            <th>Naziv</th>
            <th>ECTS</th>
            <th>Semestar</th>
            <th>Detalji</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (PredmetPrikaziVM.PredmetInfo x in Model.predmeti)
        {
            <tr>
                <td>@x.Oznaka</td>
                <td>@x.Naziv</td>

                <td>@x.ECTS</td>
                <td>@x.Semestar</td>
                <td>
                    <a href="/ModulReferent/Predmet/Detalji/?id=@x.Id" class="btn btn-info">Detalji</a>
                    <a href="/ModulReferent/Predmet/Uredi/?predmetId=@x.Id" class="btn btn-info">Uredi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/ModulReferent/Predmet/Dodaj" class="btn btn-primary">Dodaj predmet</a>

