@using Diplomski.Areas.ModulReferent.Models.NastavnoOsoblje
@model Diplomski.Areas.ModulReferent.Models.NastavnoOsoblje.NastavnoOsobljePredmetiPrikaziVM
<h2>Prikaži predmete</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Oznaka</th>
            <th>Predmet</th>
            <th>ECTS</th>
            <th>Semestar</th>
            <th>Broj studenata</th>
            <th>Akcija</th>

        </tr>
    </thead>
    <tbody>
        @foreach (NastavnoOsobljePredmetiPrikaziVM.PredmetiInfo x in Model.predmeti)
        {
            <tr>
                <td>@x.Oznaka</td>
                <td>@x.Naziv</td>
                <td>@x.ECTS</td>
                <td>@x.Semestar</td>
                <td>@x.BrojStudenta</td>
                <td><a href="/ModulReferent/student/StudentiByPredmet/?predmetId=@x.Id" class="btn btn-info">Prikaži studente</a></td>
            </tr>
        }
    </tbody>
</table>